/* -------------- GLOBAL --------------  */
h1 {
  margin: 0px;
}

h2 {
  margin: 5px;
}

/* -------------- GAME --------------  */
.gameFullDiv {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 15px;
  border-radius: 5px;
}

.game {
  display: flex;
  width: 95%;
  justify-content: space-around;
}

.game-board {
  background-color: rgba(0, 152, 195, 0.5);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}

.game-info {
  background-color: rgba(184, 0, 92, 0.5);
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  border-radius: 10px;
}

/* -------------- BOARD --------------  */
.boardrow {
  /* height: 70px; */
}

/* -------------- SQUARE --------------  */
.square {
  background-color: rgba(234, 234, 234, 1);
  width: 70px;
  height: 70px;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.square:hover {
  background-color: rgba(175, 175, 175, 1);
}
